{% extends "index.html" %}

{% block title %}{{ config.title }} - {{ page.title }}{% endblock %}

{% block extra_head %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ page.date }}" />

{%- if page.extra.author%}
<meta property="article:author" content="{{ page.extra.author }}" />
{% endif -%}
{%- if page.extra.image%}
<meta property="og:image" content="{{ config.base_url }}{{ page.extra.image }}" />
{% endif -%}
<meta property="og:url" content="{{ config.base_url }}/{{ page.slug }}" />
{%- if page.extra.opengraph %}
{%- for key, value in page.extra.opengraph %}
<meta property="{{ key }}" content="{{ value }}" />
{% endfor -%}
{% endif -%}
{%- if page.taxonomies.tags is defined %}
{%- for tag in page.taxonomies.tags %}
<meta property="article:tag" content="{{ tag }}" />
{%- endfor %}
{%- endif %}
{% endblock -%}

{% block content %}
<div class="post">
  <h1 class="title">{{ page.title }}</h1>
  <span class="date">{{ page.date | date(format="%-d %b %Y") }}</span>
  {{ page.content | safe }}
</div>
{% endblock content %}