@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    width: 840px;
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #d4d4d4;
    border-bottom: 1px dotted white;
}

h1, h3 {
    color: white;
    margin: 0px;
}

h4 {
    color: white;
    margin: 0px;
    border-bottom: 1px dotted #0c7d9d;
}

p {
    line-height: 1.5;
}

#download-box {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 40px;
    text-align: right;
}

#header {
    text-align: right;
    background-color: #252525;
    padding: 40px;
    width: 800px;
    height: 100px;
    border-bottom: 2px solid #0c7d9d;
}

#avatar {
    width: 200px;
    height: 200px;
    margin-top: -30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000;
    float: left;
}

#subtitle {
    margin: 0px;
}

#content {
    width: 800px;
    height: 100%;
    background-color: #252525;
    padding: 40px;
    padding-top: 60px;
}

.indent {
    margin-left: 20px;
}

@media screen and (max-width: 840px)
{
    html, body {
        width: auto;
    }

    #download-box {
        width: auto;
    }

    #header {
        width: auto;
    }

    #content {
        width: auto;
    }
}


@media screen and (max-width: 530px)
{
    #header {
        height: auto;
        text-align: center;
    }

    #avatar {
        display: block;
        float: none;
        margin: 0 auto;
    }
}
