@import 'variables';

pre, code {
  font-family: "Hack", monospace;
}

@media(max-width: 470px) {
  pre, code {
    font-size: 9px;
  }
}

@media(min-width: 470px) and (max-width: 600px) {
  pre, code {
    font-size: 12px;
  }
}

pre {
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: visible;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

pre[data-linenos] {
  padding: 1rem 0;
}

pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: center;
  vertical-align: top;
  user-select: none;
}

pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}