.gallery .figures {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

.gallery .figures img, .gallery .figures video {
  max-width: 100%;
  height: auto;
  display: block;
}

.gallery .caption {
  color: white;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;

}