.imageHero {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}

.imageHero img {
  width: 100%;
  margin: 0.1rem;
  height: auto;
  flex: 1 1 auto;
  object-fit: cover;
  display: block;
}
