figure {
  display: inline flex;
  flex-flow: column;
  margin: 0;
}

figure * {
  width: 100%;
  max-width: 100%;
}

figcaption {
  color: white;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}