$font-stack: Helvetica, sans-serif;
$background-color: #0E0C09;
$primary-color: #FFC94A;
$secondary-color: #FFE9AA;
$tertiary-color: #3A2F14;
$text-color: #FFF8E5cc;
$text-color-secondary: #DDCC99;

$border-color: #214848;
$error-color: #D66F6F;
$success-color: #6FD6A3;
$glow-color: #00FFFF;
