@import 'variables';
@import 'code';
@import 'blockquote';
@import 'imageHero';
@import 'fonts';
@import 'toc';
@import 'gallery';

body {
  color: $text-color;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
}

a {
  color: $text-color;
  text-decoration: none;
}

a:hover {
  color: $secondary-color;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.header svg {
  color: $text-color;
  width: 1.4em;
  height: 1.4em;
}

#dog_sitting {
  display: block;
}

#dog_standing {
  display: none;
}

#dog_standing svg {
  color: $secondary-color;
}

.header .title:hover #dog_sitting {
  display: none;
}

.header .title:hover #dog_standing {
  display: block;
}

.middle {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 80ch;
  min-width: 0;
  box-sizing: border-box;
}

.header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (width >= 500px) {
  .posts {
    display: table;
  }

  .posts .post-row > * {
    display: table-cell;
  }
  .posts .post-row {
    display: table-row;
  }

  .post-row .date {
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    text-align: right;
    white-space: nowrap;
  }
}

@media (width < 500px) {
  .posts span {
    display: block;
  }

  .post-row {
    margin-bottom: 1em;
  }
}

.posts .post-row {
  justify-content: space-between;
  font-size: 1.2rem;
}

.post-row .date {
  white-space: nowrap;
}

.date {
  color: $secondary-color;
}

.posts .post .title {
  flex-grow: 1;
}

.content > .post a {
  text-decoration: underline;
}


.content > .post .zola-anchor {
  text-decoration: none;

}

.transparent-bg {
  background-color: #1e1e1e; /* base dark background */
  background-image: 
    linear-gradient(45deg, #444 25%, transparent 25%),
    linear-gradient(-45deg, #444 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #444 75%),
    linear-gradient(-45deg, transparent 75%, #444 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.w100 {
  width: 100%
}

.float-right {
  float: right
}